/* Contador */
body {
    background: #2169d6;
    display: grid;
    justify-content: center;
    align-items: center;
}

.counter {
    background: #4285eb;
    border-radius: 20px;
}

.counter > button,
.counter > input {
    width: 10rem;
    border: 0;
    font-size: x-large;
    background: #4285eb;
    color: #ffffff;
    text-align: center;
}

.counter > button {
    cursor: pointer;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

.counter > button:hover {
    background: #2169d6;
}

/* Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    padding: 32px;
    background: #ffffff;
    margin-top: 3rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.title{
    border-radius: 30px;
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    margin: 0 0 2rem 0;
    text-align: center;
}